<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bbr.podcast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.SearchResultsActivity" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.PodcastEpsActivity"
            android:theme="@style/TranslucentStatusTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bbr.podcast.activity.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".activity.MediaPlayerActivity"
            android:theme="@style/TranslucentStatusTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bbr.podcast.activity.PodcastEpsActivity" />
        </activity>
        <activity
            android:name=".activity.PlaylistEpsActivity"
            android:theme="@style/TranslucentStatusTheme"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bbr.podcast.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.GenreDetailActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bbr.podcast.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/SettingsTheme"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bbr.podcast.activity.MainActivity" />
        </activity>

        <service android:name=".service.MediaPlaybackService"
            android:enabled="true"
            android:exported="true"
            android:process=":player">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.RefreshEpisodesService"
            android:exported="false" />
        <service android:name=".service.DownloadDiscoverThumbnailsService"
            android:exported="false" />
        <service android:name=".service.GenreDownloadChannelsService"
            android:exported="false" />

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.PodcastWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="bbr.podcast.ACTION_METADATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <provider
            android:name=".data.PodcastProvider"
            android:authorities="bbr.podcast" />
    </application>

</manifest>